fri3nd
[
  {
    "id": "466c3204.9de8dc",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "64de7589.86274c",
    "type": "irc in",
    "z": "466c3204.9de8dc",
    "name": "Twitch #funzinnu",
    "ircserver": "603a8530.5f6bcc",
    "channel": "#funzinnu",
    "x": 100,
    "y": 120,
    "wires": [
      [
        "78a88e01.d6214"
      ],
      []
    ]
  },
  {
    "id": "717dde20.dc388",
    "type": "switch",
    "z": "466c3204.9de8dc",
    "name": "Check from is botadmin",
    "property": "from",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "lastorder_dc",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "hibiyasleep",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "yeokka",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "funzinnu",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "seagullee",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 6,
    "x": 530,
    "y": 160,
    "wires": [
      [
        "b411bb0b.5d9178"
      ],
      [
        "b411bb0b.5d9178"
      ],
      [
        "b411bb0b.5d9178"
      ],
      [
        "b411bb0b.5d9178"
      ],
      [
        "b411bb0b.5d9178"
      ],
      [
        "83a509b.11148f8"
      ]
    ]
  },
  {
    "id": "b411bb0b.5d9178",
    "type": "switch",
    "z": "466c3204.9de8dc",
    "name": "check payload contains command",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "!ㅅ추가",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "!ㅅ삭제",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "!ㅅ리셋",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "!ㅅ초기화",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "!ㅅ스택",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 820,
    "y": 140,
    "wires": [
      [
        "d113f025.1c3f1"
      ],
      [
        "93e768da.6579f8"
      ],
      [
        "e6545be5.8ff5b8"
      ],
      [
        "3a4d3b75.f642e4"
      ],
      [
        "7ff2a33c.87eb0c"
      ]
    ]
  },
  {
    "id": "78a88e01.d6214",
    "type": "function",
    "z": "466c3204.9de8dc",
    "name": "get command arg",
    "func": "msg.arg = msg.payload.replace(\"!ㅅ삭제 \",\"\").replace(\"!ㅅ추가 \",\"\").replace(\"!ㅅ리셋 \",\"\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 310,
    "y": 160,
    "wires": [
      [
        "717dde20.dc388"
      ]
    ]
  },
  {
    "id": "d113f025.1c3f1",
    "type": "function",
    "z": "466c3204.9de8dc",
    "name": "Add to stack",
    "func": "var list = global.get('stack_list') || [];\nvar count = global.get('stack_' + msg.arg) || 0;\n\nif(list.indexOf(msg.arg) === -1) {\n    list.push(msg.arg);\n    global.set('stack_list', list);\n    count = 1;\n} else {\n    count += 1;\n}\n\nglobal.set('stack_' + msg.arg, count);\nmsg.payload = \"@\" + msg.from + \" ## \" + msg.arg + \" \" + global.get('stack_' + msg.arg) + \"스택 ##\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1070,
    "y": 80,
    "wires": [
      [
        "458b46b9.7f7c68"
      ]
    ]
  },
  {
    "id": "93e768da.6579f8",
    "type": "function",
    "z": "466c3204.9de8dc",
    "name": "remove from stack",
    "func": "var list = global.get('stack_list') || [];\nvar count = global.get('stack_' + msg.arg) || 0;\n\nif(list.indexOf(msg.arg) === -1) {\n    list.push(msg.arg);\n    global.set('stack_list', list);\n    count = 0;\n} else {\n    count -= 1;\n}\n\nif(count < 0) count = 0;\nglobal.set('stack_' + msg.arg, count);\nmsg.payload = \"@\" + msg.from + \" ## \" + msg.arg + \" \" + global.get('stack_' + msg.arg) + \"스택 ##\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1090,
    "y": 120,
    "wires": [
      [
        "458b46b9.7f7c68"
      ]
    ]
  },
  {
    "id": "83a509b.11148f8",
    "type": "switch",
    "z": "466c3204.9de8dc",
    "name": "!ㅅ스택",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "!ㅅ스택",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 740,
    "y": 200,
    "wires": [
      [
        "7ff2a33c.87eb0c"
      ]
    ]
  },
  {
    "id": "7ff2a33c.87eb0c",
    "type": "function",
    "z": "466c3204.9de8dc",
    "name": "generate report",
    "func": "var list = global.get('stack_list');\nvar report = [];\nvar count = 0;\n\nif(list.length > 0) {\n    for(var i = 0; i < list.length; i++) {\n        count = global.get('stack_' + list[i]) || 0;\n        if(count <= 0) continue;\n        report.push(list[i] + \" \" + global.get('stack_' + list[i]) + \"스택\");\n    }\n} else {\n    report.push(\"스택이 비어있습니다.\");\n}\n\n\nmsg.payload = \"@\" + msg.from + \" ## \" + report.join(\" / \") + \" ##\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1080,
    "y": 240,
    "wires": [
      [
        "458b46b9.7f7c68"
      ]
    ]
  },
  {
    "id": "e6545be5.8ff5b8",
    "type": "function",
    "z": "466c3204.9de8dc",
    "name": "clear stack",
    "func": "var list = global.get('stack_list') || [];\nvar count = global.get('stack_' + msg.arg) || 0;\n\nif(list.indexOf(msg.arg) !== -1) {\n    count = 0;\n    global.set('stack_' + msg.arg, count);\n}\n\nmsg.payload = \"@\" + msg.from + \" ## \" + msg.arg + \" \" + global.get('stack_' + msg.arg) + \"스택 ##\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1070,
    "y": 160,
    "wires": [
      [
        "458b46b9.7f7c68"
      ]
    ]
  },
  {
    "id": "458b46b9.7f7c68",
    "type": "irc out",
    "z": "466c3204.9de8dc",
    "name": "send to #funzinnu",
    "sendObject": "pay",
    "ircserver": "cd84aa14.8ee248",
    "channel": "#funzinnu",
    "x": 1310,
    "y": 120,
    "wires": []
  },
  {
    "id": "3a4d3b75.f642e4",
    "type": "function",
    "z": "466c3204.9de8dc",
    "name": "flush stack",
    "func": "global.set('stack_list', []);\n\nmsg.payload = \"@\" + msg.from + \" ## 스택 비움 ##\" \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1070,
    "y": 200,
    "wires": [
      [
        "458b46b9.7f7c68"
      ]
    ]
  },
  {
    "id": "87f50b8e.5fa5a8",
    "type": "irc in",
    "z": "466c3204.9de8dc",
    "name": "Twitch #lastorder_dc",
    "ircserver": "603a8530.5f6bcc",
    "channel": "#lastorder_dc",
    "x": 90,
    "y": 180,
    "wires": [
      [
        "78a88e01.d6214"
      ],
      []
    ]
  },
  {
    "id": "be35f9bf.2dbf68",
    "type": "http in",
    "z": "466c3204.9de8dc",
    "name": "Stacks",
    "url": "/stacks",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 300,
    "wires": [
      [
        "9df01675.bc72e8"
      ]
    ]
  },
  {
    "id": "9b2a42ea.8a4a3",
    "type": "template",
    "z": "466c3204.9de8dc",
    "name": "generate html",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "\n<html>\n    <head>\n        <title>스택 목록</title>\n    </head>\n    <body>\n        <h1>{{{payload}}}</h1>\n    </body>\n</html>",
    "output": "str",
    "x": 460,
    "y": 300,
    "wires": [
      [
        "84cf3e05.d047b"
      ]
    ]
  },
  {
    "id": "9df01675.bc72e8",
    "type": "function",
    "z": "466c3204.9de8dc",
    "name": "generate report",
    "func": "var list = global.get('stack_list');\nvar report = [];\nvar count = 0;\n\nif(list.length > 0) {\n    for(var i = 0; i < list.length; i++) {\n        count = global.get('stack_' + list[i]) || 0;\n        if(count <= 0) continue;\n        report.push((i + 1) + \". \" + list[i] + \" \" + global.get('stack_' + list[i]) + \"스택\");\n    }\n} else {\n    report.push(\"스택이 비어있습니다.\");\n}\n\n\nmsg.payload = \"<h2>Stack List</h2>\" + report.join(\"<br />\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 280,
    "y": 300,
    "wires": [
      [
        "9b2a42ea.8a4a3"
      ]
    ]
  },
  {
    "id": "84cf3e05.d047b",
    "type": "http response",
    "z": "466c3204.9de8dc",
    "name": "generate http response ",
    "statusCode": "",
    "headers": {},
    "x": 670,
    "y": 300,
    "wires": []
  },
  {
    "id": "603a8530.5f6bcc",
    "type": "irc-server",
    "z": "",
    "server": "irc.chat.twitch.tv",
    "port": "6667",
    "ssl": false,
    "cert": false,
    "nickname": "justinfan0101"
  },
  {
    "id": "cd84aa14.8ee248",
    "type": "irc-server",
    "z": "",
    "server": "irc.chat.twitch.tv",
    "port": "6667",
    "ssl": false,
    "cert": false,
    "nickname": "fstack_bot"
  }
]
